{{#extend "layout"}}
    {{#content "head"}}
        <title>航班动态</title>
    {{/content}}
    {{#content "body"}}
        <div class="app" id="app"></div>
        <div class="components" id="components"></div>
        <script src="//zyd.test.com/build/flightList.bundle.js"></script>
    {{/content}}
{{/extend}}