{{#extend "layout"}}
    {{#content "head"}}
        <title>航班动态</title>
        <script src="//m.flight.qunar.com/build/requestFlightList.bundle.js"></script>
    {{/content}}
    {{#content "body"}}
        <div class="app" id="app"></div>
        <div class="components" id="components"></div>
        <script src="//m.flight.qunar.com/build/lib.bundle.js"></script>
        <script src="//m.flight.qunar.com/build/flightList.bundle.js"></script>
    {{/content}}
{{/extend}}