{{#extend "layout"}}
{{#content "head"  mode="append"}}
    <link rel="stylesheet" href="//zyd.test.com/build/index.bundle.css"/>
    <title>{{title}}</title>
{{/content}}
{{#content "body"}}
<div id="app">ssss</div>
<div id="component">2222</div>
<script type="text/javascript" src="//zyd.test.com/build/lib.bundle.js" crossorigin></script>
<script type="text/javascript" src="//zyd.test.com/build/index.bundle.js" crossorigin></script>
{{/content}}
{{/extend}}